@{
    Layout = "_Layout";
}

@model LDS.Web.Admin.ViewModels.RunnerViewModel;

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header lds-table-cell">@Model.DisplayName</th>
                <td class="govuk-table__cell lds-table-cell">(@(String.IsNullOrEmpty(Model.Gender) ? "Gender not set" : Model.Gender))</td>
                <td class="govuk-table__cell lds-table-cell">
                    <a class="govuk-link govuk-link--no-visited-state" href="/Runner/Edit/@Model.Id">
                        Edit
                    </a>
                </td>
            </tr>
            </thead>
        </table>
    </div>

    <div class="govuk-grid-column-full">
        @await Html.PartialAsync("_RunnerRaceParticipation", Model.RaceEntries)
    </div>

    <div class="govuk-grid-column-one-third">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header lds-table-cell">Total:</th>
                <td class="govuk-table__cell lds-table-cell">@Model.TotalMiles?.ToString("0.###")</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>