@{
    Layout = "_Layout";
}

@model LDS.Web.Admin.ViewModels.LeaderboardViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l heading-no-margin">
            @Model.Year Leaderboards
        </h1>
        <span class="govuk-caption-l">
            Last updated: @(((DateTime)Model.LastUpdated).ToString("d MMMM yyyy HH:mm"))
        </span>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">
                    Women
                </h2>
            </div>
        </div>
        @await Html.PartialAsync("_LeaderboardRunnerList", Model.Women)
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">
                    Men
                </h2>
            </div>
        </div>
        @await Html.PartialAsync("_LeaderboardRunnerList", Model.Men)
    </div>
</div>
