@{
    Layout = "_Layout";
}

@model List<LDS.Web.Admin.ViewModels.RunnerViewModel>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Runners
        </h1>
    </div>
</div>

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Gender</th>
        <th scope="col" class="govuk-table__header"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var runner in Model)
    {
        <tr class="govuk-table__row lds-table-row">
            <td class="govuk-table__cell lds-table-cell">@runner.DisplayName</td>
            <td class="govuk-table__cell lds-table-cell">@runner.Gender</td>
            <td class="govuk-table__cell lds-table-cell">
                <a class="govuk-link govuk-link--no-visited-state" href="/Runner/@runner.Id">
                    View                
                </a>
                <a class="govuk-link govuk-link--no-visited-state" href="/Runner/Edit/@runner.Id">
                    Edit                
                </a>
            </td>
        </tr>
    }
</table>