@{
    ViewBag.Title = "LDS Admin Login";
    Layout = "_Layout";
}

<h2 class="govuk-heading-m">Login</h2>
<form method="post">
    <div class="text-center">
        <a href="/Login/Login" class="govuk-button">
            Sign in with Google
        </a>
    </div>
</form>
