.govuk-footer__licence-description {
  display: none !important;
}

.govuk-footer__crown {
  display: none !important;
}

.govuk-footer__licence-logo {
  display: none !important;
}

.govuk-footer__copyright-logo {
  display: none !important;
}

.govuk-header__logotype {
  display: none !important;
}