$govuk-brand-colour: #2d971f;

@import "../govuk-frontend/index";
@import "./govuk-overrides";

.top-pad-5 {
    padding-top: 5px;
}

.top-pad-10 {
    padding-top: 10px;
}

.heading-no-margin {
    margin-bottom: 0px;
}

.lds-leaderboard {
    background-color: #f1f1f1;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}

.no-wrap {
    text-wrap: nowrap;
}

.lds-table-cell {
    border-bottom: 0;
    padding-bottom: 5px;
}

.lds-table-row:nth-child(odd) {
    background-color: #f5faf4;
}

.lds-table-row:last-child {
    border-bottom: 1px solid #b1b4b6;
}

p.unbreaking > span {
    display: inline-block;
}

.left-nav {
    display: block;
    text-align: left;    
}

.right-nav {
    display: block;
    text-align: right;
}

div#lds-body-container {
    min-height: 400px;
}