@{
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = "_GovUkPageTemplate";
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section Head {
    <meta charset="utf-8">
    <title>Long Distance Strider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8">
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/rebrand/manifest.json">
    <link href="/css/main.css" rel="stylesheet">
    
    <meta property="og:image" content="http://localhost:5082/assets/rebrand/images/govuk-opengraph-image.png">
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section Header {
    <govuk-header home-page-url="https://gov.uk/" />

    <govuk-service-navigation service-name="Long Distance Strider Admin" service-url="/">
        <govuk-service-navigation-nav>
            <govuk-service-navigation-nav-item href="/RaceParticipation">Race Particpation</govuk-service-navigation-nav-item>
            <govuk-service-navigation-nav-item href="/RunnerConsolidation">Runner Consolidation</govuk-service-navigation-nav-item>
            <govuk-service-navigation-nav-item href="/Runner/List">Runners</govuk-service-navigation-nav-item>
            <govuk-service-navigation-nav-item href="/Runner/Leaderboard">Leaderboards</govuk-service-navigation-nav-item>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <govuk-service-navigation-nav-item href="/Login/Logout">Logout</govuk-service-navigation-nav-item>
            }
            else
            {
                <govuk-service-navigation-nav-item href="/Login">Login</govuk-service-navigation-nav-item>
            }
        </govuk-service-navigation-nav>
    </govuk-service-navigation>
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        @RenderBody()
    </main>
</div>

@* ReSharper disable once Razor.SectionNotResolved *@
@section Footer {
    <govuk-footer>
        <govuk-footer-meta>
            <govuk-footer-meta-items>
                <!--
                <govuk-footer-meta-item href="#">Item 1</govuk-footer-meta-item>
                <govuk-footer-meta-item href="#">Item 2</govuk-footer-meta-item>
                <govuk-footer-meta-item href="#">Item 3</govuk-footer-meta-item>
                -->
            </govuk-footer-meta-items>
        </govuk-footer-meta>
    </govuk-footer>
}