@{
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = "_GovUkPageTemplate";
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section Head {
    <meta charset="utf-8">
    <title>Long Distance Strider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" sizes="any" href="/assets/images/Striders-trans-400-90x90.png" type="image/png">
    <link rel="manifest" href="/assets/rebrand/manifest.json">
    <link href="/css/main.css" rel="stylesheet">
    
    <meta name="description" content="Some Description"> 
   
    <!-- Facebook Meta Tags -->   
    <meta property="og:url" content="https://longdistancestrider.website">   
    <meta property="og:type" content="website">   
    <meta property="og:title" content="Long Distance Strider">
    <meta property="og:description" content="Website for the Steel City Striders' Long Distance Strider competition.">
    <meta property="og:image" content="/assets/images/lds-cover.png">  
  
    <!-- Twitter Meta Tags -->   
    <meta name="twitter:card" content="summary_large_image">   
    <meta property="twitter:domain" content="longdistancestrider.website">   
    <meta property="twitter:url" content="https://longdistancestrider.website">   
    <meta name="twitter:title" content="Long Distance Strider">   
    <meta name="twitter:description" content="Website for the Steel City Striders' Long Distance Strider competition.">   
    <meta name="twitter:image" content="/assets/images/lds-cover.png">
    
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "@await Component.InvokeAsync("ClarityId")");
    </script>
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section HeadIcons {
    <link rel="icon" href="/assets/images/Striders-trans-400-90x90.png" type="image/png">
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section Header {
    <govuk-header product-name="Steel City Striders" home-page-url="https://www.steelcitystriders.co.uk" />

    <govuk-service-navigation service-name="Long Distance Strider" service-url="/">
        <govuk-service-navigation-nav>
            <govuk-service-navigation-nav-item href="/Leaderboard/M">Men</govuk-service-navigation-nav-item>
            <govuk-service-navigation-nav-item href="/Leaderboard/F">Women</govuk-service-navigation-nav-item>
            <govuk-service-navigation-nav-item href="/Race/All">Races</govuk-service-navigation-nav-item>
        </govuk-service-navigation-nav>
    </govuk-service-navigation>
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section BeforeContent {
    @await RenderSectionAsync("YearsNavigation", false)
}

<div class="govuk-width-container" id="lds-body-container">
    @RenderBody()
</div>

@* ReSharper disable once Razor.SectionNotResolved *@
@section Footer {
    <govuk-footer>
        <govuk-footer-meta>
            <govuk-footer-meta-items>
                <govuk-footer-meta-item href="/About">About LDS</govuk-footer-meta-item>
            </govuk-footer-meta-items>
        </govuk-footer-meta>
    </govuk-footer>
}