@model List<LDS.Web.Public.ViewModels.RunnerRaceEntryViewModel>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Race</th>
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Miles</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var entry in Model)
            {
                <tr class="govuk-table__row lds-table-row">
                    <td class="govuk-table__cell lds-table-cell">
                        <a class="govuk-link govuk-link--no-visited-state" href="/Race/@entry.RaceId">
                            @entry.RaceName
                        </a>
                    </td>
                    <td class="govuk-table__cell lds-table-cell">
                        @entry.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td class="govuk-table__cell lds-table-cell">@entry.Miles.ToString("0.###")</td>
                </tr>
            }
        </table>
    </div>
</div>