@{
    ViewBag.Title = "Long Distance Strider - About";
    Layout = "_Layout";
}

<h2 class="govuk-heading-m">Long Distance Strider</h2>

<h3 class="govuk-heading-s">What is it?</h3>
<p class="govuk-body">
    This website shows the standings in the annual Steel City Striders <strong>Long Distance Strider</strong>
    competition.
    
    Long Distance Strider is a free competition, and all Striders are entered every year by default.
    
    The winners every year are those Striders who have accumulated the most competitive miles raced.
</p>

<h3 class="govuk-heading-s">How does it work?</h3>
<p class="govuk-body">
    The entries in LDS all come from the race results pages posted on the Steel City Striders website.
</p>

<h3 class="govuk-heading-s">What do I need to do?</h3>
<p class="govuk-body">
    Most importantly: participate in races. But also, make sure your races get written up by the Striders web team and
    posted on the website. Without those race reports, your race entries won't make it onto LDS.  There's no pressure
    to write a race report - just a race results listing is sufficient, and as long as they know about the race, the
    web team can almost always get a results post onto the website.
</p>

<h3 class="govuk-heading-s">One of my race entries is missing!</h3>
<p class="govuk-body">
    In the first instance, make sure that your race results are posted on the website, and that your name is listed in
    the results.  If your race entry has been missed, then shout up in the 
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.facebook.com/groups/SteelCityStridersMembers">
        Steel City Striders Members' Group
    </a> 
    on Facebook for the attention of 
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.facebook.com/groups/678177236294591/user/100017956271985">
        Matt Barton
    </a>.  You could send a private message to Matt via Facebook Messenger if you prefer.
</p>

<h3 class="govuk-heading-s">What activities get included?</h3>
<p class="govuk-body">
    Races of any distance, race walks, and also notable self-led achievements like a Bob Graham Round for instance.
    The rule-of-thumb is: if it is notable enough to warrant a report on the Striders' website, it qualifies for LDS.
    Parkruns definitely do not get included, sorry.
</p>

<h3 class="govuk-heading-s">My name is wrong in the standings!</h3>
<p class="govuk-body">
    This does sometimes happen. Races with paper-based entry lists or handwritten results will often lead to
    mistakes in runners' names.  Typos also happen entering the results.  But these mistakes can be fixed.  Just get
    in touch with
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.facebook.com/groups/678177236294591/user/100017956271985">
        Matt Barton
    </a>
    via Facebook Messenger.
</p>

<h3 class="govuk-heading-s"></h3>
<p class="govuk-body">
</p>

