@{
    ViewBag.Title = "Long Distance Strider - Server Error";
    Layout = "_Layout";
}

<h2 class="govuk-heading-m">Something went wrong!</h2>

<p class="govuk-body">
    Don't worry, it isn't your fault. The error is logged, and LDS Admin will be informed.
</p>
