@using NodaTime
@model LDS.Web.Public.ViewModels.LeaderboardViewModel

@{
    ViewBag.Title = "Long Distance Strider";
    Layout = "_Layout";
}

<h2 class="govuk-heading-m">Long Distance Strider @Model.Year</h2>

<p class="govuk-body">
    Top ten in each category as at
    @(Instant.FromDateTimeUtc(
        DateTime.SpecifyKind((DateTime)Model.LastUpdated!, DateTimeKind.Utc))
            .InZone(DateTimeZoneProviders.Tzdb["Europe/London"])
            .ToString("d MMMM yyyy HH:mm", null)
    )
</p>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">
                    Women
                </h2>
            </div>
        </div>
        @await Html.PartialAsync("_LeaderboardRunnerList", Model.Women)
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">
                    Men
                </h2>
            </div>
        </div>
        @await Html.PartialAsync("_LeaderboardRunnerList", Model.Men)
    </div>
</div>